extends ../tourists

block tourists-list
    table.tourists-table
        tr
            th Nr
            th Name
            th Surname
            th Sex
            th State
            th Notes
            th Date of birth
            th Edit
            th Delete
        each item, index in data
            tr
                td=index + 1
                td=item.firstName
                td=item.lastName
                td=item.sex
                td=item.state
                td=item.notes
                td=item.dateOfBirth
                td
                    a(href=`tourists/update/${item._id}`) Edit
                td
                    a(class='delete-btn' href=`/tourists/delete/${item._id}`) X