extends ../layout

block content
    div.tourist-form
        h1.title #{title}

        if errors !== ''
            span='All fields are required!'
                    
        form(method='post')
            div
                label First name:
                input(type='text' 
                    name='firstName'
                    minlength='4'
                    maxlength='10'
                    value=body.firstName || '')
            div
                label Last name:
                input(type='text' 
                    name='lastName'
                    minlength='4'
                    maxlength='12' 
                    value=body.lastName || '')
            div
                label Sex:
                select(name='sex')
                    option(value='man' || '') Man
                    option(value='woman' || '') Woman
            div
                label State:
                input(type='text' 
                    name='state'
                    minlength='4'
                    maxlength='15'
                    value=body.state || '')
            div
                label Notes:
                textarea(name='notes'
                    rows='4'
                    maxlength='50')=body.notes || ''
            div
                label Date of birth:
                input(type='date'
                    name='dateOfBirth'
                    value=body.dateOfBirth || '')
            div
                button(type='submit' class='save-btn') Save
