extends ../flights

block flights-list
    table.flights-table
        tr
            th Nr
            th Flight name
            th Departure Date
            th Arrivel Date
            th Number of places
            th Price
            th Edit
            th Delete
        each item, index in data
            tr
                td=index + 1
                td=item.title
                td=item.departureDate.toLocaleString()
                td=item.arrivelDate.toLocaleString()
                td=item.places
                td=item.ticketPrice
                td
                    a(href=`/flights/update/${item._id}`) Edit
                td 
                    a(href=`/flights/delete/${item._id}` class='delete-btn') X
